# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and temp files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# IDE & Editor folders
.vscode/
.idea/

# Environment settings
.env
*.env

# Model files (can be large)
*.h5
*.pkl
*.db
*.pt
